<button class="bg-primary hover:bg-company-primary-dark text-white px-3 py-2 rounded cursor-pointer" (click)="modal.openModal($event)">
  Change password
</button>

<app-generic-modal #modal title="Change password">
  <form class="flex flex-col gap-2" [formGroup]="formGroup">
    <input formControlName="currentPassword" type="password" class="border border-gray w-full px-3 py-2 rounded placeholder:text-dark-gray" placeholder="Current password">
    <input formControlName="newPassword" type="password" class="border border-gray w-full px-3 py-2 rounded placeholder:text-dark-gray" placeholder="New password">
    <input formControlName="repeatNewPassword" type="password" class="border border-gray w-full px-3 py-2 rounded placeholder:text-dark-gray" placeholder="Repeat new password">
    <p *ngIf="passwordsDontMatch" class="text-dark-error">Passwords do not match.</p>
    <p *ngIf="error" class="text-dark-error">Could not change password.</p>
    <div class="flex justify-end gap-2">
      <button type="submit" class="bg-primary hover:bg-primary-dark text-white px-3 py-2 rounded cursor-pointer" (click)="updatePassword()">
        Save
      </button>
    </div>
  </form>
</app-generic-modal>