/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@theme {
  --color-company-primary: #223546; /* */
  --color-company-primary-dark: #242f38;
  --color-company-secondary: #fcfcfc;

  --color-primary: #7b8894; /* Blue */
  --color-dark-primary: #525a61;
  --color-success: #136e2d; /* Green */
  --color-dark-success: #0f3019;
  --color-error: #9c2816; /* Red */
  --color-dark-error: #701f12;
  
  --color-true-white: #ffffff;
  --color-white: #fcfcfc;

  --color-gray: #d9d9d9;
  --color-darker-gray: #787777;
  --color-dark-gray: #b1b2b5;
  
  --color-black: #2D2D2D;
  --color-true-black: #000000;
}
  
html {
  @apply text-black;
}