<app-generic-modal #modal title="Change access">
  <form class="flex flex-col gap-2" [formGroup]="formGroup">
    <div class="flex flex-col gap-1 justify-center cursor-pointer">
      <label>
        <input type="checkbox" formControlName="activated">
        Access to Release Notes
      </label>
    </div>
    <div class="flex justify-end gap-2">
      <button type="submit" class="bg-success hover:bg-dark-success text-white px-3 py-2 rounded cursor-pointer" (click)="changeAccess()">
        Save
      </button>
    </div>
  </form>
</app-generic-modal>