<div class="flex justify-center w-full">
  <div class="flex flex-col-reverse gap-4 lg:gap-16 lg:grid grid-cols-4 w-full max-w-screen-2xl">
    <div class="flex flex-col gap-4 lg:text-end">
      <span class="text-xl font-semibold">Recent releases</span>
      <div *ngIf="releases?.length === 0" class="text-dark-gray">
        No recent releases
      </div>
      <div *ngIf="releases" class="flex flex-col">
        @for (release of releases; track release.id) {
        <div class="cursor-pointer hover:underline" (click)="openProject(release.projectId)">
          {{release.projectName}}
          ({{release.version}})
        </div>
        }
      </div>
      <div class="flex justify-end">
        <app-loader *ngIf="!releases"></app-loader>
      </div>
    </div>
    <div class="col-span-2 flex flex-col gap-4">
      <div class="flex justify-between items-start border-b border-b-gray pb-3">
        <span class="text-xl font-semibold">Projects</span>
      </div>
      <div class="flex flex-col gap-1.5" *ngIf="projects">
        <div *ngIf="projects.data.length === 0" class="text-dark-gray">
          It's very empty here...
        </div>
        @for (project of projects.data; track project.id) {
        <div (click)="openProject(project.id)"
          class="bg-true-white border border-gray pl-6 pr-3 py-2 rounded flex justify-between items-center hover:-mx-1 transform duration-100 cursor-pointer">
          <div>
            <div class="flex gap-4 justify-start items-center">
              <div class="font-semibold">
                {{project.name}}
              </div>
              <div class="text-sm" *ngIf="project.latestVersion">
                ({{project.latestVersion}})
              </div>
            </div>
            <div class="text-sm text-dark-gray">
              <span class="font-semibold">Created by:</span> {{project.createdBy}}
            </div>
            <div class="text-sm text-dark-gray xl:hidden block">
              <span class="font-semibold">Latest release:</span> {{project.latestVersionCreatedOnUtc |
              date:'dd-MM-yyyy'}}
            </div>
          </div>
          <div class="items-center flex">
            <div class="text-sm text-dark-gray hidden xl:block">
              <span class="font-semibold">Latest release:</span> {{project.latestVersionCreatedOnUtc |
              date:'dd-MM-yyyy'}}
            </div>
            <button (click)="editProject($event, project)"
              class="text-dark-gray hover:text-gray px-3 flex justify-center items-center border-r border-gray cursor-pointer">
              <ng-icon name="hero-pencil"></ng-icon>
            </button>
            <button (click)="deleteProject($event, project)"
              class="text-error hover:text-dark-error px-3 flex justify-center items-center cursor-pointer">
              <ng-icon name="hero-trash"></ng-icon>
            </button>
          </div>
        </div>
        }
      </div>
      <div *ngIf="projects">
        <div class="flex justify-end gap-1">
          <div class="bg-true-white hover:bg-white border border-gray px-3 py-2 rounded cursor-pointer"
            *ngIf="projects.hasPrevious" (click)="previousPage()">
            Back
          </div>
          <div class="bg-true-white hover:bg-white border border-gray px-3 py-2 rounded cursor-pointer"
            *ngIf="projects.hasNext" (click)="nextPage()">
            Next
          </div>
        </div>
      </div>
      <app-loader *ngIf="!projects"></app-loader>
    </div>
    <div class="flex flex-col gap-4 pb-4">
      <span class="text-xl font-semibold hidden lg:block">Project actions</span>
      <div class="lg:w-fit flex flex-col gap-2">
        <div class="xl:w-72">
        </div>
        <app-create-project></app-create-project>
      </div>
    </div>
  </div>
</div>

<app-edit-project #editProjectModal [project]="selectedProject" (modalClosed)="fetchData()"></app-edit-project>
<app-delete-project #deleteProjectModal [project]="selectedProject" (modalClosed)="fetchData()"></app-delete-project>